h1{
    color: azure;
    position: center;
    font-family: fantasy;
}
img{
    height: 80px;
    width: 80px;
    float: right;
}
p{
    color: azure;
    position: center;
    font-family: fantasy;
}

nav{
    
    list-style: none;
    float: right;
    color:white;
    font-size: 20px;
}
body{
background-image: url(../Img\ folder/spike.jpg);
background-size: 30%;
    background-position: center;
    background-color: transparent;
}